body{
    color: black;
    background-color: black;
}

.playlist{
    background-color: rgba(255, 255, 255, 0.762);
    position: relative;
    width: 300px;
    height: 500px;
    top: 30px;
    color: rgb(0, 0, 0);
}
.el{
  color:red;
  position: relative;
  height: 60px;
}